sudo: required

services:
  - docker

before_install:
  - docker build -t zackhamilton/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true zackhamilton/react-test npm test

after_success:
  - docker build -t zackhamilton/checkpoint-client ./client
  - docker build -t zackhamilton/checkpoint-nginx ./nginx
  - docker build -t zackhamilton/checkpoint-server ./server
  - docker build -t zackhamilton/checkpoint-worker ./worker
  - echo "$DOCKER_PASS" | docker login -u "DOCKER_ID" --password-stdin
  - docker push zackhamilton/checkpoint-client
  - docker push zackhamilton/checkpoint-nginx
  - docker push zackhamilton/checkpoint-server
  - docker push zackhamilton/checkpoint-worker

deploy:
  provider: elasticbeanstalk
  region: 'us-east-1'
  app: 'checkpoint-docker'
  env: 'CheckpointDocker-env'
  bucket_name: 'elasticbeanstalk-us-east-1-849119748910'
  bucket_path: 'checkoit-docker'
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
